<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
<div class="box" id="heading">
  <h1> Today is <%= SAMPLE %> </h1>
</div>

<div class="box">
  <% for (i=0; i<NEWLIST.length; i++){ %>
    <div class="item">
      <input type="checkbox" name="">
        <p> <%= NEWLIST[i] %> </p>
    </div>
    <% } %>
    <form  action="/" method="post">
      <input type="text" name="list" placeholder="New item" autocomplete="off">
      <button type="submit" name="button">+</button>

    </form>
</div>


  </body>
</html>
